@import "../../../styles/styles.scss";

.books {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 100%;

  align-items: center;
  // padding: 10px;
  // gap: 6px;
  @include devices(tablet) {
    flex-direction: column;
  }
}

.body {
  border: 2px solid blue;
  height: 100%;
}

// .books {
//   display: flex;
//   flex-direction: row;
//   height: 100%;
//   @include devices(tablet) {
//     flex-direction: column;
//   }
// }

// .bottom {
//   width: 90%;
//   margin: 20px;
//   margin-right: auto;
//   border-top: 1px solid #999999;
// }
